<div class="other_img">
  <div class="form_edit_container">
    <a class="navbar-brand"><%= image_tag("youse_logo.png", size: "130x30", alt: "Youse") %></a>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <label for="email"><b>Edit <%= resource_name.to_s.humanize %></b></label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "text", placeholder: "Enter your email" %>
      
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
        <label for="email"><b>New password</b></label>
        <%= f.password_field :password, autocomplete: "current-password", type: "password", placeholder: "Leave blank if you don't want to change it" %>
        <label for="email"><b>Confirm your password</b></label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", type: "password", placeholder: "Put 6 characters minimum" %>
        <label for="email"><b>Current password</b></label>
        <%= f.password_field :current_password, autocomplete: "current-password", type: "password", placeholder: "Put your current password" %>

      <div class="actions">
        <%= f.submit "Update", class: "btn" %>
        <%= link_to "Cancel", :back, class: "btn" %>
      </div><br />
      <label for="email"><b>Cancel my account</b></label><br /><br />
      <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn2" %>
    <% end %>
  </div>
</div>
