<div class="task_img">
  <div class="list_task_container">
    <h2> Edit your task</h2>
    <%= form_for [current_user, @list, @task] do |f| %>
      <%= f.text_field :task_name, placeholder: "Put your task name here" %>
      <%= f.text_area :description, placeholder: "Description about the task", class: "small-textarea" %>     
      <%= f.submit 'save', data:{confirm: 'save this data?'}, class: "btn"  %>
      <%= link_to 'Back', user_list_task_path(current_user, @list, @task), class: "btn"  %>
    <% end %>
  </div>
</div> 