<!DOCTYPE html>
<html>
  <head>
    <title>YouseToDo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <% if user_signed_in? %>
      Welcome <%= current_user.email%> to the Youse ToDoApp <br />
    <% end %>
    <%= yield %>
  </body>
   <footer>Elaborado por Juan Acero como prueba tecnica para Youse Colombia </footer>
</html>